body {
    background-image:  url("../images/wood-g529fdf925_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
    color: rgb(218, 218, 218);
}

h1 {
    margin: 0px;
}

button {
    padding: 10px;
    margin: 5px;
    background:rgba(255, 255, 255, 0.466);
    border: 1px solid white;
}

header,
footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/pexels-sohail-na-807598.jpg);
    height: 50px;
    display: flex;
    justify-content: end;
    border-top: 1px solid rgba(255, 255, 255, 0.466);
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}

header img {
    margin: 25px;
    height: 125px;
}

#heroRow {
    /* background: url("../images/pexels-sohail-na-807598.jpg") no-repeat center center fixed; */
    margin: 0px;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-family: 'Ink Free', sans-serif;
}

#heroCol1 {
    transform: rotate(-10deg) ;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#heroCol2 {
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
}

#introSubtitle {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

#small1 {
    transform: rotate(10deg) ;
}

#small1 img {
    height: 150px;
}

#small2 {
    transform: rotate(40deg) ;
    align-self: end;
}

#small2 img {
    height: 100px;
}

#small3 {
    transform: rotate(-35deg) ;
    align-self: flex-start;
    height: 100px;
}

#small4div {
    transform: rotate(-20deg) ;
    height: 100px;
}

#small5 {
    transform: rotate(35deg) ;
    align-self: center;
    height: 100px;
}

#small6div {
    transform: rotate(-10deg) ;
}

#small7div {
    transform: rotate(10deg);
    text-align: left;
    
}

#small6 {
    height: 105px;
    
}

#small7 {
    height: 150px;
}


#workContainer {
    display: none;
    margin-top: 50px;
}

#aboutMeDesc,
#workDesc,
#contactMeDesc {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Ink Free', sans-serif;
}

#contactMeContent {
    margin: 50px;
    
}

#contactMeContent img {
    padding: 30px;
}

#returnLinks {
    text-align: center;
}
#workRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#backRow {
    font-size: 25px;
}

#dailyPlanner,
#tuneSpace,
#weatherApp {
    transition-duration: 2s;
    padding: 0px;
    text-align: center;
    padding: 20px;

}


#dailyPlanner:hover {
    padding: 0px;
    transform: rotate(-10deg) ;
    text-align: center;
    padding: 20px;
}



#weatherApp:hover {
    padding: 0px;
    text-align: center;
    transform: rotate(10deg) ;
    padding: 20px;
}

#tuneSpace:hover {
    padding: 0px;
    transform: rotate(-10deg) ;
    text-align: center;
    padding: 20px;
}

#contactMe {
    margin-top: 50px;
    display: none;
}

#aboutMe {
    display: none;
    margin-top: 50px;
}

#contactMeContent {
    text-align: center;
    padding: 20px;
}